<ion-header>
  <ion-toolbar color="gob">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>term</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content color="bg" size="12" size-sm="8" offset-sm="2" class="ion-text-center">
    <div id="container">
      <ion-col>
        <ion-row>
            <p>1. I acknowledge that I am 12 years old and above and responsible for everything that may happen while using the Transportation Services.</p>
        </ion-row>
        <ion-row>
            <p>2.	I acknowledge that GirlsOnBoard’s business is limited solely to matching Passenger requiring transportation services with drivers that willing to provide such Transportation Services.</p>
        </ion-row>
        <ion-row>
            <p>3. I understand and acknowledge the inherent risks to Passengers and Drivers when using the Transportation Services.</p>
        </ion-row>
        <ion-row>
            <p>4.	I acknowledge that GirlsOnBoard does not condone unsafe and reckless driving and will not be liable for any participation in such activity.</p>
        </ion-row>
        <ion-row>
            <p>5.	I acknowledge that we do not have any known conditions that may increase the likelihood of sustaining injuries incurred whilst using the Transportation Services.</p>
        </ion-row>
      </ion-col>

    </div> 
  </ion-content>
