<?xml version='1.0' encoding='utf-8'?>
<widget id="com.enappd.iontaxi" version="2.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Passanger</name>
    <description />
    <author email="support@enappd.com" href="https://enappd.com">Ionic Framework Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="GOOGLE_MAPS_ANDROID_API_KEY" value="AIzaSyCEVHnj_VE5v0v2FLRx5c33Xz7h34WWDr8" />
    <preference name="GOOGLE_MAPS_IOS_API_KEY" value="YOUR_API_KEY" />
    <config-file parent="NSLocationWhenInUseUsageDescription" target="*-Info.plist">
        <string>We use your location for full functionality of certain app features.</string>
    </config-file>
    <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
        <string>need camera access to take pictures</string>
    </config-file>
    <config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
        <string>need photo library access to get pictures from there</string>
    </config-file>
    <config-file parent="NSLocationWhenInUseUsageDescription" target="*-Info.plist">
        <string>need location access to find things nearby</string>
    </config-file>
    <config-file parent="NSPhotoLibraryAddUsageDescription" target="*-Info.plist">
        <string>need photo library access to save pictures there</string>
    </config-file>
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value="To locate you" />
    </plugin>
    <plugin name="cordova-plugin-googlemaps" spec="^2.6.2">
        <variable name="API_KEY_FOR_ANDROID" value="AIzaSyCEVHnj_VE5v0v2FLRx5c33Xz7h34WWDr8" />
        <variable name="PLAY_SERVICES_VERSION" value="15.0.1" />
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-ionic-webview" spec="^4.0.1">
        <variable name="ANDROID_SUPPORT_ANNOTATIONS_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-ionic-keyboard" spec="^2.1.3" />
</widget>
