<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <br><br>
    <br><br>
    <br><br>
    
    <app-logo></app-logo>
    <br><br>
    <br><br>
    
    <h2>Welcome to GOB</h2>
    
    <br>
    <p>Comfort   •  Secure   •  Peace</p>
  </ion-slide>
  <ion-slide>
    <div>
      <ion-img src="/assets/slide.png" class="ss"></ion-img>
    </div>
      <h2>GirlsOnBoard (GOB)</h2>
      <br><br>
    <p>Just like our slogan, we offer a comfortable, secure and safe service for women 💪🏼 Your safety is our priority</p>
    <br>
    <p>Need somewhere to go? Let's Begin!</p>
  </ion-slide>
  <ion-slide>
    <div>
      <ion-img src="/assets/slide.png" class="ss"></ion-img>
    </div>
    <h2>Join our GOB Team!</h2>
    <p>Come enjoy and gain experience as our driver😊</p>
    <br>
    <p>You can manage and decide your work according to your own time and schedule 💪🏼</p>
    <br>
    <p>Interested? Email us at Girlsob14@gmail.com for more information and inquiries</p>
  </ion-slide>
</ion-slides>