<ion-header>
  <ion-toolbar color="gob">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="bg" size="12" size-sm="8" offset-sm="2" class="ion-text-center">
  <div id="app-logo"><app-logo></app-logo></div>
  <ion-row>
    <ion-col>
      <div id="container">
        <p>GirlsOnBoard (GOB) is transportation mobile application where it caters only for female users as the drivers will also consists of female drivers. This mobile app provide as an alternative service for women who are often uncomfortable with male interaction. The name GOB itself represent as a mobile app that target women especially those who are in need of transportation which only applicable towards women of all ages.</p>
      </div> 
    </ion-col>
  </ion-row>
</ion-content>
